In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
df = pd.read_excel("data.xlsx",header=None)
header = df.iloc[0]
dff = pd.DataFrame(df.values[1:],columns=header)
dff.head(5)

,srcOct1,srcOct2,srcOct3,srcOct4,destOct1,destOct2,destOct3,destOct4,srcPort,destPort,...,timestamp_1,timestamp_2,timestamp_3,timestamp_4,timestamp_5,tpkt1,tpkt2,tpkt3,tpkt4,tpkt5
0,128,244,74,6,133,138,101,30,32767,8545,...,45,734,745,1273,1320,4.5048e-05,0.000734783,0.000745795,0.00127436,0.00132141
1,185,18,10,87,133,138,207,238,51327,9988,...,311,800,1036,1103,1199,0.000311332,0.000800854,0.00103711,0.00110418,0.00120028
2,59,56,111,107,133,138,213,194,8403,31691,...,72,701,804,962,1239,7.20768e-05,0.000701748,0.000804858,0.000963027,0.00124032
3,51,96,38,226,133,138,1,49,53937,42979,...,123,546,624,732,982,0.000123131,0.000546583,0.000624666,0.000732781,0.000983048
4,220,11,241,81,133,138,46,58,30050,4093,...,529,1072,1131,1135,1370,0.000529565,0.00107314,0.00113221,0.00113621,0.00137146

In [3]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126328 entries, 0 to 126327
Data columns (total 31 columns):
srcOct1          126328 non-null object
srcOct2          126328 non-null object
srcOct3          126328 non-null object
srcOct4          126328 non-null object
destOct1         126328 non-null object
destOct2         126328 non-null object
destOct3         126328 non-null object
destOct4         126328 non-null object
srcPort          126328 non-null object
destPort         126328 non-null object
byteCount        126328 non-null object
packetCount      126328 non-null object
byte_count       126328 non-null object
packect_count    126328 non-null object
avg_size         126328 non-null object
flowDuration     126328 non-null object
packetSizes_1    126328 non-null object
packetSizes_2    126328 non-null object
packetSizes_3    126328 non-null object
packetSizes_4    126328 non-null object
packetSizes_5    126328 non-null object
timestamp_1      126328 non-null object
timestamp_2      126265 non-null object
timestamp_3      125816 non-null object
timestamp_4      124877 non-null object
timestamp_5      123253 non-null object
tpkt1            126328 non-null object
tpkt2            126328 non-null object
tpkt3            126328 non-null object
tpkt4            126328 non-null object
tpkt5            126328 non-null object
dtypes: object(31)
memory usage: 29.9+ MB

In [4]:
dff.drop(['byteCount','packetCount','timestamp_1','timestamp_2','timestamp_3','timestamp_4','timestamp_5'],axis=1,inplace=True)

In [5]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126328 entries, 0 to 126327
Data columns (total 24 columns):
srcOct1          126328 non-null object
srcOct2          126328 non-null object
srcOct3          126328 non-null object
srcOct4          126328 non-null object
destOct1         126328 non-null object
destOct2         126328 non-null object
destOct3         126328 non-null object
destOct4         126328 non-null object
srcPort          126328 non-null object
destPort         126328 non-null object
byte_count       126328 non-null object
packect_count    126328 non-null object
avg_size         126328 non-null object
flowDuration     126328 non-null object
packetSizes_1    126328 non-null object
packetSizes_2    126328 non-null object
packetSizes_3    126328 non-null object
packetSizes_4    126328 non-null object
packetSizes_5    126328 non-null object
tpkt1            126328 non-null object
tpkt2            126328 non-null object
tpkt3            126328 non-null object
tpkt4            126328 non-null object
tpkt5            126328 non-null object
dtypes: object(24)
memory usage: 23.1+ MB

In [6]:
dff['srcOct1']=dff.srcOct1.astype('int')
dff['srcOct2']=dff.srcOct2.astype('int')
dff['srcOct3']=dff.srcOct3.astype('int')
dff['srcOct4']=dff.srcOct4.astype('int')
dff['destOct1']=dff.destOct1.astype('int')
dff['destOct2']=dff.destOct2.astype('int')
dff['destOct3']=dff.destOct3.astype('int')
dff['destOct4']=dff.destOct4.astype('int')

In [7]:
dff['srcPort']=dff.srcPort.astype('int')
dff['destPort']=dff.destPort.astype('int')
dff['byte_count']=dff.byte_count.astype('int')
dff['packect_count']=dff.packect_count.astype('int')
dff['avg_size']=dff.avg_size.astype('float')
dff['flowDuration']=dff.flowDuration.astype('int')
dff['packetSizes_1']=dff.packetSizes_1.astype('int')
dff['packetSizes_2']=dff.packetSizes_2.astype('int')
dff['packetSizes_3']=dff.packetSizes_3.astype('int')
dff['packetSizes_4']=dff.packetSizes_4.astype('int')
dff['packetSizes_5']=dff.packetSizes_5.astype('int')
dff['tpkt1']=dff.tpkt1.astype('float')
dff['tpkt2']=dff.tpkt2.astype('float')
dff['tpkt3']=dff.tpkt3.astype('float')
dff['tpkt4']=dff.tpkt4.astype('float')
dff['tpkt5']=dff.tpkt5.astype('float')

In [8]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126328 entries, 0 to 126327
Data columns (total 24 columns):
srcOct1          126328 non-null int32
srcOct2          126328 non-null int32
srcOct3          126328 non-null int32
srcOct4          126328 non-null int32
destOct1         126328 non-null int32
destOct2         126328 non-null int32
destOct3         126328 non-null int32
destOct4         126328 non-null int32
srcPort          126328 non-null int32
destPort         126328 non-null int32
byte_count       126328 non-null int32
packect_count    126328 non-null int32
avg_size         126328 non-null float64
flowDuration     126328 non-null int32
packetSizes_1    126328 non-null int32
packetSizes_2    126328 non-null int32
packetSizes_3    126328 non-null int32
packetSizes_4    126328 non-null int32
packetSizes_5    126328 non-null int32
tpkt1            126328 non-null float64
tpkt2            126328 non-null float64
tpkt3            126328 non-null float64
tpkt4            126328 non-null float64
tpkt5            126328 non-null float64
dtypes: float64(6), int32(18)
memory usage: 14.5 MB

In [9]:
ndff = pd.DataFrame(dff.dropna(how='any'))

In [10]:
ndff.shape

(126328, 24)

In [11]:
ndff.to_csv('Clean_Data',index=False)